/nodered-data/*
/rabbitmq-data/*

# keep the folders
!/nodered-data/.gitkeep
!/rabbitmq-data/.gitkeep

# keep the flows
!/nodered-data/.config.nodes.json
!/nodered-data/flows.json
!/nodered-data/settings.js